## Data Types

#### NUMBERS

In [28]:
2**4 # 2 power 4

16

In [29]:
2+3*5+5 # follows BODMAS

22

In [30]:
(2+3)*(5+5)

50

In [31]:
1/20

0.05

In [32]:
1*3

3

In [33]:
4%2 # Gives Remainder

0

In [34]:
5%2

1

In [35]:
8%3

2

In [36]:
var = 2

In [37]:
var

2

In [38]:
x=2
y=3

In [39]:
x+y

5

In [40]:
x*y

6

In [41]:
X=x+y

In [42]:
X

5

In [43]:
var

2

In [44]:
name_of_var=12 # _ is used for separating the names

In [45]:
name_of_var

12

### STRINGS

In [46]:
'Single quote'

'Single quote'

In [47]:
" Double quote string"

' Double quote string'

In [49]:
"I can't go " # Single quote inside double quote

"I can't go "

In [50]:
x='hello'

In [51]:
x # it just types values of x

'hello'

In [53]:
print(x)  # it prints the values

hello

#### Print Formating

In [54]:
num=12
name='sam'

In [56]:
print(num , name)

12 sam

In [58]:
' My number is () and my name is ()'.format(num,name) # print Formating and can use any braces.

' My number is () and my name is ()'

In [59]:
print(' My number is () and my name is ()'.format(num,name))

 My number is () and my name is ()

In [60]:
print('My number is (one) and my name is (two)'.format(one=num,two = name))
# other method of print Formating.

My number is (one) and my name is (two)

####  Indexing String

In [61]:
s='hello' # In this string each element is a letter

In [62]:
s

'hello'

In [63]:
s[1] # to grab required letter through index

'e'

In [64]:
s[0]

'h'

In [65]:
s[4]

'o'

In [69]:
T='abcdefghijk'

In [70]:
T[0]

'a'

In [71]:
T[10]

'k'

In [72]:
T[:-2]# Slicing

'abcdefghi'

In [73]:
T[0:]

'abcdefghijk'

In [74]:
T[:3] # grab everything upto 4th index but excluding 4th index.

'abc'

In [75]:
T[3:6] # grabing in btwn index

'def'

## LISTS
##### A sequence of elements in a square brackets separated by commas

In [76]:
[1,2,3,5] # can be any data type

[1, 2, 3, 5]

In [79]:
['a','b','c','d']

['a', 'b', 'c', 'd']

In [80]:
my_list=['a','b','c']

In [81]:
my_list

['a', 'b', 'c']

In [82]:
my_list.append('d') # to add a element in a list

In [83]:
my_list

['a', 'b', 'c', 'd']

In [84]:
my_list[:-2]

['a', 'b']

In [85]:
my_list[0:3]

['a', 'b', 'c']

In [86]:
my_list[0]="New"

In [87]:
my_list

['New', 'b', 'c', 'd']

In [97]:
nest=[1,2,[3,4]] # List inside a list i.e nested list

In [91]:
nest

[1, 2, [3, 4]]

In [92]:
nest[2]

[3, 4]

In [94]:
nest[2][0] # [2] is for second list

3

In [96]:
nest[2][1]

4

In [99]:
nest=[1,2,3,[4,5,['target']]]

In [101]:
nest[3]

[4, 5, ['target']]

In [103]:
nest[3][2]

['target']

In [105]:
nest[3][2][0]

'target'

In [106]:
print(nest[3][2][0])

target

### Dictionaries
######  Behaves like a key value pair

In [107]:
d={'key1':'value1','key2':'value2'}  # hold elements in keys instead of sequence

In [108]:
d['key1'] # should be within inverted commas

'value1'

In [109]:
d['key2']

'value2'

In [115]:
d={'k1':[1,2,3,]}

In [116]:
d['k1']

[1, 2, 3]

In [117]:
d['k1'][0]

1

In [120]:
d={'k1':{'innerkey':[1,2,3,4]}} # key inside another key

In [121]:
d['k1']

{'innerkey': [1, 2, 3, 4]}

In [123]:
d['k1']['innerkey'][2]

3

### TUPLES

In [125]:
t=(1,2,3) # similar to list instead of square braces we use parenthesis

In [126]:
t[0]

1

In [127]:
my_list

['New', 'b', 'c', 'd']

In [128]:
my_list[0]

'New'

In [134]:
my_list[0]='a'

In [135]:
my_list

['a', 'b', 'c', 'd']

In [136]:
t

(1, 2, 3)

In [139]:
t[0]='New' # we can't add items inside a tuple

TypeError: 'tuple' object does not support item assignment

In [140]:
t

(1, 2, 3)

### SETS
###### Collection of unique objects

In [141]:
{1,2,3,4}

{1, 2, 3, 4}

In [142]:
{1,1,1,2,2,2,3,3,4,4,4} # it gives unique values  irrespective of size

{1, 2, 3, 4}

In [144]:
set([1,1,1,2,2,2,3,3,4,4,4])

{1, 2, 3, 4}

In [145]:
s={1,2,3}

In [146]:
s

{1, 2, 3}

In [147]:
s.add(5)

In [148]:
s

{1, 2, 3, 5}

In [149]:
s.add(5)

In [150]:
s # keeps same because it gives one element in output irrespective of the size

{1, 2, 3, 5}

#### Comparision Operators

In [153]:
1>2 # uses true or false

False

In [152]:
1<2

True

In [156]:
1==1 # should use two signs

True

In [155]:
1==2

False

In [157]:
1!=3

True

In [159]:
1<2 and 2<3

True

In [162]:
(1<2) and (2>3) # true and false gives false as output

False

In [163]:
(1<2) or (2>3) # any 1 should be true

True

In [164]:
(1<2) or (2>3) or (1==1)

True

In [165]:
True and True

True

In [166]:
True and False

False

### If, elif, else Statements

In [168]:
if 1<2: # if this condition is true then prints the result
    print('yep')

yep

In [169]:
if True:
    x=2+2

In [170]:
x

4

In [171]:
if 1==2:
    print('first')
else :
    print('last')

last

In [173]:
x=2;
if x>1:
    print('even')
else:
    print('odd')

even

In [178]:
if 1==2:
    print('first')
elif 3==3:
    print('middle')
else:
    print('last')

middle

#### for & while Loops

In [180]:
seq=[1,2,3,4,5]

In [183]:
for item in seq: #any names in place of item can be given 
    print(item)

1
2
3
4
5

In [184]:
for num in seq:
    print(num)

1
2
3
4
5

In [185]:
for num in seq:
    print('HELLO')

HELLO
HELLO
HELLO
HELLO
HELLO

In [188]:
i=1
 
while i<5:
    print('i is: {}'.format(i))
    i=i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [189]:
for x in seq:
    print(x)

1
2
3
4
5

#### Range Function

In [190]:
range(0,5)

range(0, 5)

In [192]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [194]:
list(range(5))

[0, 1, 2, 3, 4]

In [195]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [196]:
x=[1,2,3,4]

In [197]:
out=[] # empty list
 
for num in x:
    out.append(num**2)

In [198]:
print(out)

[1, 4, 9, 16]

### List Comprehension

In [199]:
[num**2 for num in x]

[1, 4, 9, 16]

In [201]:
out= [num**2 for num in x]

In [202]:
out

[1, 4, 9, 16]

## FUNCTIONS.

In [206]:
def my_func(param1):# def is key name, my_func is name of function, param1 is parameter
    print(param1)

In [207]:
my_func('hello')

hello

In [216]:
def my_func(name):
    print('hello ' + name)

In [215]:
my_func('India')

hello India

In [217]:
def my_func(name='Bengaluru'): # to keep as default name
    print('Hello '+name)

In [219]:
my_func()

Hello Bengaluru

In [220]:
def my_func(name ='Delhi'):
    print(name)

In [222]:
my_func()

Delhi

In [225]:
def square(num):   # Return Function
    return num**2

In [226]:
output = square(2)

In [227]:
output

4

In [229]:
def square(num): # using triple encoding quotes( documentation strings)
    """
    THIS IS A DOCSTRING 
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    
    """
    return num**2

In [230]:
output # output never chages

4

### Map and Filter Functions.

In [234]:
def times2(var):
    return var*2

In [235]:
times2(5)

10

#### Map function

In [236]:
seq=[1,2,3,4,5]

In [239]:
map(times2,seq) # Inside map we can pass a required function

In [240]:
list(map(times2,seq)) # By listing we get output

[2, 4, 6, 8, 10]

In [241]:
def times2(var):return var*2

#### Lambda Expression

In [248]:
lambda var:var*2 # lambda expr replaces def times2(var)
# Instead of function we use lambda expression

In [249]:
t=(lambda var:var*2)

In [250]:
t(6)

12

In [251]:
t(10)

20

In [253]:
team=[2,4,6,8]

In [254]:
list(map(lambda var:var*2,team))

[4, 8, 12, 16]

#### Filter Function

filter uses function or lambda expression takes any number and returns a conditional value i.e boolean value which happens to be true.

In [258]:
filter(lambda num:num%2==0,seq)

In [259]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [260]:
s='hello my name is Sam'

In [261]:
s.lower() #Lower cases every letter in the string

'hello my name is sam'

In [262]:
s.upper()

'HELLO MY NAME IS SAM'

In [263]:
s.split() # Splits string based on space provided

['hello', 'my', 'name', 'is', 'Sam']

In [264]:
tweet='Go Sports! # Sports'

In [265]:
tweet.split()

['Go', 'Sports!', '#', 'Sports']

In [266]:
tweet.split('#')[1]

' Sports'

In [268]:
d={'k1':1,'k2':2}

In [269]:
d.keys() # provides key values

dict_keys(['k1', 'k2'])

In [270]:
d.items() # Provides all present in the dictionary

dict_items([('k1', 1), ('k2', 2)])

In [271]:
d.values()

dict_values([1, 2])

In [272]:
lst=[1,2,3]

In [273]:
lst.pop()# returns last item and changes permanently

3

In [274]:
lst

[1, 2]

In [275]:
lst=[1,2,3,4,5]

In [276]:
lst.pop()

5

In [277]:
lst.pop(0) # removes first item

1

In [278]:
lst

[2, 3, 4]

In [279]:
'x' in [1,2,3] # gives true if its present in that list else gives false

False

In [282]:
'x' in ['x','y','z']

True

In [284]:
x=[(1,2),(3,4),(5,6)]

In [285]:
x

[(1, 2), (3, 4), (5, 6)]

In [286]:
x[0][1] # Retrieving tuple

2

In [287]:
x[1][1]

4

In [289]:
for item in x: 
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [290]:
for (a,b) in x: # tuple unpacking
    print(a)

1
3
5

In [291]:
for (a,b) in x:
    print(b)

2
4
6